@charset "UTF-8";
/*

SASS VARIABLES

$background-color: #242424;
$text-color: #fff;

$pink: #fd5382;
$pink-lighter: #fab9d7;

$purple: #6d0095;
$green: #009587;
$blue: #00dcff;
$grey: #333233;

$transparent-lighten: rgba(255, 255, 255, 0.05);

$border-radius: 3px;
$border-width: 2px;

$nav-hight: 15px;

$z-layers: (
	modal  			        : 200,
	navigation          : 100,
	divider				      : 90,
	footer				      : 80,
	triangle			      : 60,
	navigation-rainbow	: 50,
);

*/
/* GRADIENTS */
[class^="spacer-"] {
  background-color: #fd5382;
  background: -webkit-linear-gradient(right, #fd5382, #6d0095);
  background: -o-linear-gradient(right, #fd5382, #6d0095);
  background: -moz-linear-gradient(right, #fd5382, #6d0095);
  background: linear-gradient(to right, #fd5382, #6d0095); }

[class^="spacer-"]:before {
  background-color: #fab9d7;
  background: -webkit-linear-gradient(right, #fab9d7, #fd5382);
  background: -o-linear-gradient(right, #fab9d7, #fd5382);
  background: -moz-linear-gradient(right, #fab9d7, #fd5382);
  background: linear-gradient(to right, #fab9d7, #fd5382); }

/* BOX SHADOW */
.navbar, .divider, [type="password"], [type="email"], [type="text"], textarea, [type="submit"] {
  box-shadow: 0px 0px 5px 0px #000; }

.main article, [type="password"]:focus, [type="email"]:focus, [type="text"]:focus, textarea:focus, [type="submit"]:focus {
  box-shadow: inset 0px 0px 5px 0px #000; }

/* DEFAULTS */
* {
  font-family: Verdana, Arial, sans-serif;
  color: #fff;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

body {
  padding-top: 45px;
  background-color: #242424;
  position: relative;
  margin: 0; }

/* STICK FOOTER */
.wrapper {
  min-height: calc(100vh - 45px);
  margin-bottom: -70px; }

.footer, .push {
  height: 70px; }

/* LINKS */
a {
  color: #fd5382;
  text-decoration: none;
  border-bottom: #fd5382 2px solid;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  -moz-transition: color 500ms, border 500ms;
  -o-transition: color 500ms, border 500ms;
  -webkit-transition: color 500ms, border 500ms;
  transition: color 500ms, border 500ms; }
  a:hover, a:focus {
    outline: none;
    color: white;
    border-bottom-color: #009587;
    background-color: rgba(255, 255, 255, 0.05); }

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 0; }

/* HEADER */
[data-nav="localhost"] .navbar .link#localhost, [data-nav="links"] .navbar .link#links, [data-nav="about"] .navbar .link#about, [data-nav="contact"] .navbar .link#contact {
  font-weight: bold; }
  @media (max-width: 455px) {
    [data-nav="localhost"] .navbar .link#localhost, [data-nav="links"] .navbar .link#links, [data-nav="about"] .navbar .link#about, [data-nav="contact"] .navbar .link#contact {
      pointer-events: none;
      cursor: default;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0; } }
  @media (min-width: 456px) {
    [data-nav="localhost"] .navbar .link#localhost, [data-nav="links"] .navbar .link#links, [data-nav="about"] .navbar .link#about, [data-nav="contact"] .navbar .link#contact {
      background-color: rgba(255, 255, 255, 0.05); } }

/* NAVBAR */
.navbar {
  background-color: #333233;
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  /* LINK ITEMS */ }
  .navbar input {
    display: none;
    width: 46px;
    height: 42px;
    /* place it over the hamburger */
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0;
    /* hide this */ }
  .navbar span {
    display: none;
    width: 33px;
    height: 4px;
    border-radius: 3px;
    background: #FFF;
    border-radius: 3px;
    margin: 9px; }
  @media (max-width: 455px) {
    .navbar {
      display: block; }
      .navbar span {
        display: block; }
      .navbar div {
        display: block; }
      .navbar input {
        display: block; }
      .navbar input:checked {
        width: 100vh;
        height: 100vh; }
        .navbar input:checked ~ a {
          position: relative;
          z-index: 150;
          display: block; }
      .navbar .link {
        display: none; } }
  .navbar .link {
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: inherit;
    flex-grow: 1;
    padding: 15px 20px;
    -moz-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    -webkit-transition: background-color 500ms;
    transition: background-color 500ms; }
    .navbar .link:hover, .navbar .link:focus {
      background-color: rgba(255, 255, 255, 0.1) !important;
      outline: none; }

/* SPACER */
[class^="spacer-"] {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1; }
  [class^="spacer-"]:before {
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  [class^="spacer-"]:hover:before {
    opacity: 1; }

.spacer-sm {
  height: 70px; }
.spacer-md {
  height: 130px; }
.spacer-lg {
  height: 200px; }

/* DIVIDER */
.divider {
  position: relative;
  text-align: center;
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #009587; }

/* MAIN CONTENT */
.main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20px 30px; }
  .main > * {
    /* CINSTARIN */
    max-width: 500px;
    min-width: 200px; }
  .main > .instagram-media-registered, .main > .instagram-media {
    /* PHOTOGRAPHY => INSTAGRAM */
    max-width: 800px !important;
    min-width: 200px !important; }
  .main article {
    /* CONTENT BLOCK */
    width: 100%;
    /* FIT ONLY ONE BLOCK PER ROW */
    flex-basis: calc(50% + 20px);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: solid 3px #fd5382;
    padding: 15px; }
    .main article:not(:last-child) {
      margin-bottom: 30px; }
    .main article .title {
      padding-bottom: 15px;
      border-bottom: #009587 2px solid; }

/* INPUT */
[type="password"], [type="email"], [type="text"], textarea, [type="submit"] {
  width: 100%;
  font-size: 16px;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.05);
  color: white; }
  [type="password"]:focus, [type="email"]:focus, [type="text"]:focus, textarea:focus, [type="submit"]:focus {
    outline: none;
    border-color: #009587; }

[type="password"], [type="email"], [type="text"], textarea {
  border: none;
  border-bottom: #fd5382 2px solid;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

textarea {
  height: 200px;
  resize: vertical;
  min-height: 42px; }

[type="submit"] {
  border-radius: 3px;
  border: #fd5382 2px solid; }

/* FORM */
#contact-form, #contact-form [type="submit"] {
  width: 100%; }

/* POSITIONING */
.float-right {
  float: right; }

/* LOGO */
.logo-sm {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  background: url("../icon-big.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

/* QUOTE BLOCKS */
.qt-lg blockquote {
  margin: 0;
  font-size: 2em; }
  .qt-lg blockquote:before {
    content: open-quote; }
  .qt-lg blockquote:after {
    content: close-quote; }
.qt-lg cite {
  margin-top: 0.1em;
  margin-left: 2em;
  float: left; }
  .qt-lg cite:before {
    content: '— '; }

/*# sourceMappingURL=index.css.map */
