/*===============================*\
|* SCSS VARIABLES
\*===============================*/
/*===============================*\
|*| $background-color	: #242424;
|*| $text-color				: #fff;
|*|
|*| $pink					: #fd5382;
|*| $pink-lighter	: #fab9d7;
|*|
|*| $purple	: #6d0095;
|*| $green	: #009587;
|*| $blue		: #00dcff;
|*| $grey		: #333233;
|*|
|*| $transparent-lighten: rgba(255, 255, 255, 0.05);
|*|
|*| $border-radius	: 3px;
|*| $border-width		: 2px;
|*| $nav-hight			: 15px;
|*|
|*| $z-layers: (
|*| 	modal  			        : 200,
|*| 	nav-link 		        : 150,
|*| 	navigation          : 100,
|*| 	divider				      : 90,
|*| 	footer				      : 80,
|*| 	triangle			      : 60,
|*| 	navigation-rainbow	: 50,
|*| );
\*===============================*/

@import "include-media";

$background-color	: #242424;
$text-color				: #fff;

$pink					: #fd5382;
$pink-lighter	: #fab9d7;

$purple	: #6d0095;
$green	: #009587;
$blue		: #00dcff;
$grey		: #333233;

$transparent-lighten: rgba(255, 255, 255, 0.05);

$border-radius	: 3px;
$border-width		: 2px;
$nav-hight			: 15px;

$z-layers: (
	modal  			        : 200,
	nav-link 		        : 150,
	navigation          : 100,
	divider				      : 90,
	footer				      : 80,
	triangle			      : 60,
	navigation-rainbow	: 50,
);

@function z-index($layer) {
  @return map-get($z-layers, $layer);
}


@mixin gradient($direction, $start, $end){
	background-color: $start;
	background: -webkit-linear-gradient($direction, $start , $end);
	background: -o-linear-gradient($direction, $start, $end);
	background: -moz-linear-gradient($direction, $start, $end);
	background: linear-gradient(to $direction, $start, $end);
}

@mixin animate($argv){
	-webkit-animation: $argv;
	-moz-animation:    $argv;
	-o-animation:      $argv;
	animation:         $argv;
}

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

/*===============================*\
|* GRADIENTS
\*===============================*/

%gradient-header {
	@include gradient(right, $pink, $purple);
}

%gradient-invert {
	@include gradient(right, $pink-lighter, $pink);
}

/*===============================*\
|* BOX SHADOW
\*===============================*/

%box-shadow { box-shadow: 0px 0px 5px 0px #000; }
%box-shadow-inset { box-shadow: inset 0px 0px 5px 0px #000; }

/* GLOBAL DEFAULTS */

* {
	font-family: Verdana, Arial, sans-serif;
	color: $text-color;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

body {
	padding-top: 45px;
	background-color: $background-color;
	position: relative;
	margin: 0;

}

/* STICK FOOTER */

.wrapper {
  min-height: calc(100vh - 45px);
  margin-bottom: -70px;
}

.footer, .push {
  height: 70px;
}

/* DEFAULT LINK STYLEING */

a {
	color: $pink;
	text-decoration: none;
	border-bottom: $pink $border-width solid;
	border-top-right-radius: $border-radius;
	border-top-left-radius: $border-radius;
	@include transition(color 500ms, border 500ms);
	&:hover, &:focus {
		outline: none;
		color: white;
		border-bottom-color: $green;
		background-color: $transparent-lighten;
	}
}

/*===============================*\
|* HEADINGS
\*===============================*/

h1, h2, h3, h4, h5, h6 {
	display: block;
	margin: 0;
}

/*===============================*\
|* ACTIVE HEADER STYLEING
\*===============================*/

[data-nav="localhost"] .navbar a#localhost, [data-nav="photography"] .navbar a#photography, [data-nav="about"] .navbar a#about, [data-nav="contact"] .navbar a#contact{
	font-weight: bold;
	@include media('<=455px'){ /* STYLEING FOR SMALL SCREENS */
		pointer-events: none;
		cursor: default;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
	}
	@include media('>455px'){
		/* STYLEING FOR BIG SCREENS */
		background-color: $transparent-lighten;
	}
}

/*===============================*\
|* NAVBAR
\*===============================*/

.navbar {
	@extend %box-shadow;
	background-color: $grey;
	z-index: z-index('navigation');
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	display: flex;

	input {
		display: none;
		width: 46px;
		height: 42px;
		/* PLACE IT OVER THE HAMBURGER */
		position: absolute;
		top: 0px;
		left: 0px;
		cursor: pointer;
		/* HIDE IT */
		opacity: 0;
	}

	span { /* HAMBURGER ICON */
		display: none;
		width: 33px;
		height: 4px;
		border-radius: 3px;
		background: #FFF;
		border-radius: 3px;
		margin: 9px;
	}

  @include media('<=455px'){
		/* SHOW HAMBURGER ICON */
		display: block;
		span, div, input {
			display: block;
		}

		input:checked {
			/**
			 * MAKE CHECKBOX SPAN THE FULL
			 * HEIGHT AND WIDTH OF THE SCREE
			 * SO WHEN CLICKING ANYWHERE the
			 * CHECKBOX IS UNCHECKED AND THE
			 * DROPDOWN IS CLOSED.
			**/
			width: 100vh;
			height: 100vh;
			&	~ a {
				  position: relative;
					/**
					 * MAKE SURE THE NAV ITEMS ARE
					 * ABOVE THE CHECKBOX SO THEY
					 * CAN BE CLICKED.
					**/
					z-index: z-index('nav-link');
					display: block;
			}
		}

		& a {
			/* HIDE HEADER ELEMENTS */
			display: none;
		}
	}
  /* LINK ITEMS */

	& a {
		/* DEFAULT NAV LINK STYLEING */
		width: 100%;
		background-color: transparent;
		border: none;
		border-radius: 0;
		color: inherit;
		flex-grow: 1;
		padding: $nav-hight 20px;
		@include transition(background-color 500ms);
		&:hover, &:focus {
			background-color: rgba(255,255,255,0.1)!important;
			outline: none;
		}
	}
}

/*===============================*\
|* SPACER STYLEING
\*===============================*/

[class*="spacer-"] {
	text-align: center;
	@extend %gradient-header;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	&:before {
		@include transition(opacity 1s);
		z-index: -1;
		opacity: 0;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@extend %gradient-invert;
	}
	&:hover {
		&:before { opacity: 1; }
	}
}

.spacer {
	&-sm {height: 70px;}
	&-md {height: 130px;}
	&-lg {height: 200px;}
}

/*===============================*\
|* DIVIDER STYLEING
\*===============================*/

.divider {
	position: relative;
	text-align: center;
	z-index: z-index('divider');
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background-color: $green;
	@extend %box-shadow;
}

/*===============================*\
|* MAIN CONTENT
\*===============================*/

.main {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;

	justify-content: center;
	height: 100%;
	padding: 20px 30px;


	& > * {
		/* DIRECT CHILD CONSTRAINS */
		max-width: 500px;
		min-width: 200px;
	}

	& > .instagram-media-registered, > .instagram-media {
    /* PHOTOGRAPHY => INSTAGRAM */
		max-width: 800px!important;
		min-width: 200px!important;
	}

	& article {  /* CONTENT BLOCK */
    width: 100%;
		&:not(:last-child){
			margin-bottom: 30px;
		}
		/* FIT ONLY ONE BLOCK PER ROW */
		flex-basis: calc(50% + 20px);
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		@extend %box-shadow-inset;
		border-left: solid $border-width + 1 $pink;
		padding: 15px;
		& .title {
			padding-bottom: 15px;
			border-bottom: $green $border-width solid;
		}
	}
}

/*===============================*\
|* INPUT STYLEING
\*===============================*/

%input {
	@extend %box-shadow;
	width: 100%;
	font-size: 16px;
	padding: 10px 15px;
	margin-top: 10px;
	background-color: $transparent-lighten;
	color: white;
	&:focus{
		@extend %box-shadow-inset;
		outline: none;
		border-color: $green;
	}
}

[type="password"],[type="email"],[type="text"], textarea {
	border: none;
	border-bottom: $pink $border-width solid;
	border-top-right-radius: $border-radius;
	border-top-left-radius: $border-radius;
	@extend %input;
}

textarea {
	height: 200px;
	resize: vertical;
	min-height: 42px;
}

[type="submit"] {
	@extend %input;
	border-radius: $border-radius;
	border: $pink $border-width solid;
}

/*===============================*\
|* LOGO STYLEING
\*===============================*/

[class*="logo-"] {
	float: right;
	vertical-align: middle;
	background: url("../icon-big.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.logo {
	&-sm {
		/* SMALL LOGO */
		height: 50px;
		width: 50px;
	}
}

/*===============================*\
|* QUOTE STYLEING
\*===============================*/

blockquote {
	margin: 0;
	&:before { content: open-quote; }
	&:after { content: close-quote; }
}
	/* LARGE QUOTES */
	.qt-lg {
		blockquote { font-size: 2em; }
		cite {
			margin-top: 0.1em;
			margin-left: 2em;
			float: left;
			&:before {
				content: '— ';
			}
		}
}
