$background-color: #242424;
$text-color: #fff;

$pink: #fd5382;
$pink-lighter: #fab9d7;

$purple: #6d0095;
$green: #009587;
$blue: #00dcff;
$grey: #333233;

$transparent-lighten: rgba(255, 255, 255, 0.05);

$border-radius: 3px;
$border-width: 2px;

$z-layers: (
	modal				: 200,
	navigation			: 100,
	divider				: 90,
	footer				: 80,
	triangle			: 60,
	navigation-rainbow	: 50,
);

@function z-index($layer) {
  @return map-get($z-layers, $layer);
}


@mixin gradient($direction, $start, $end){
	background-color: $start;
  	background: -webkit-linear-gradient($direction, $start , $end);
  	background: -o-linear-gradient($direction, $start, $end); 
	background: -moz-linear-gradient($direction, $start, $end);
  	background: linear-gradient(to $direction, $start, $end);
}

@mixin animate($argv){
	-webkit-animation: $argv;
	-moz-animation:    $argv;
	-o-animation:      $argv;
	animation:         $argv;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

%gradient-header {
	// #950090, #ff006a
	// @include gradient(left, $green , $blue);
	// @include gradient(left, #950090, #ff006a);
	// @include gradient(right, #09dbff, #ff006a);
	@include gradient(right, $pink, $purple);

}

%gradient-invert {
	@include gradient(right, $pink-lighter, $pink);
}

%box-shadow { box-shadow: 0px 0px 5px 0px #000; }
%box-shadow-inset { box-shadow: inset 0px 0px 5px 0px #000; }

* {
	font-family: Verdana, Arial, sans-serif;
	color: $text-color;
	box-sizing: border-box;
}

body {
	padding-top: 45px;
	background-color: $background-color;
	position: relative;
	margin: 0;

}

.wrapper {
  min-height: calc(100vh - 45px);
  margin-bottom: -70px;
}

.footer, .push {
  height: 70px;
}

a {
	color: $pink;
	text-decoration: none;
	border-bottom: $pink $border-width solid;
	border-top-right-radius: $border-radius;
	border-top-left-radius: $border-radius;
	@include transition(color 500ms, border 500ms);
	&:hover, &:focus {
		outline: none;
		color: white;
		border-bottom-color: $green;
		background-color: $transparent-lighten;
	}
}

h1, h2, h3, h4, h5, h6 {
	display: block;
	margin: 0;
}

$nav-hight: 15px;

[data-nav="localhost"] .navbar .link#localhost, [data-nav="links"] .navbar .link#links, [data-nav="about"] .navbar .link#about, [data-nav="contact"] .navbar .link#contact{
	flex-grow: 2;
	font-weight: bold;
	background-color: $transparent-lighten;
}

.navbar {
	// @extend %gradient-header;
	// background-color: $green;
	background-color: $grey;
	z-index: z-index('navigation');
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	@extend %box-shadow;
	display: flex;
	& .link {
		background-color: transparent;
		border: none;
		border-radius: 0;
		color: inherit;
		flex-grow: 1;
		padding: $nav-hight 20px;
		@include transition(background-color 500ms);
		&:hover, &:focus {
			background-color: rgba(255,255,255,0.1)!important;
			outline: none;
		}
	}
}

[class^="spacer-"] {
	text-align: center;
	@extend %gradient-header;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	&:before {
		@include transition(opacity 1s);
		z-index: -1;
		opacity: 0;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@extend %gradient-invert;
	}
	&:hover {
		&:before { opacity: 1; }
	}
}

.spacer {
	&-sm {height: 70px;}
	&-md {height: 130px;}
	&-lg {height: 200px;}
}

.divider {
	position: relative;
	text-align: center;
	z-index: z-index('divider');
	display: flex;
    align-items: center;
    justify-content: center;
	padding: 10px;
	// background-color: $grey;
	background-color: $green;
	@extend %box-shadow;
}

.main {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;

	justify-content: center;
	height: 100%;
	padding: 20px 30px;
	> * {
		max-width: 500px;
		min-width: 200px;
	}

	& > .instagram-media-registered, > .instagram-media {
		// width: 100%!important;
		max-width: 800px!important;
		min-width: 200px!important;
	}
	& article {
    width: 100%;
		&:not(:last-child){
			margin-bottom: 30px;
		}
		flex-basis: calc(50% + 20px);
		border-top-right-radius: $border-radius;
		border-bottom-right-radius: $border-radius;
		@extend %box-shadow-inset;
		border-left: solid $border-width + 1 $pink;
		padding: 15px;
		& .title {
			padding-bottom: 15px;
			border-bottom: $green $border-width solid;
		}
	}
}

%input {
	@extend %box-shadow;
	width: 100%;
	font-size: 16px;
	padding: 10px 15px;
	margin-top: 10px;
	background-color: $transparent-lighten;
	color: white;
	&:focus{
		@extend %box-shadow-inset;
		outline: none;
		border-color: $green;
	}
}

[type="password"],[type="email"],[type="text"], textarea {
//	-webkit-appearance: none;
//	-moz-appearance: none;
//	appearance: none;
	border: none;
	border-bottom: $pink $border-width solid;
	border-top-right-radius: $border-radius;
	border-top-left-radius: $border-radius;
	@extend %input;
}

textarea {
	height: 200px;
	resize: vertical;
	min-height: 42px;
}

[type="submit"]{
	@extend %input;
	border-radius: $border-radius;
	border: $pink $border-width solid;
}

#contact-form {
	width: 100%;
	& [type="submit"] {
		width: 100%;
	}
}

.float-right {
	float: right;
}

.logo-sm {
	// padding: 25px;
	height: 50px;
	width: 50px;
	vertical-align: middle;
	background: url("../icon-big.png");
    background-size: cover;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: center; 
	// max-width:100%;
	// max-height:100%;
	// object-fit: scale-down;
 //    float: right;
}

// .qt-lg

blockquote:before {
	content:'\201C';
}

blockquote:after {
	content:'\201D';
}

.qt-lg {
	blockquote {
		margin: 0;
		font-size: 2em;
		&:before { content:'\201C'; }
		&:after { content:'\201D'; }
	}
	cite {
		margin-top: 0.1em;
		margin-left: 2em;
		float: left;
		&:before {
			content: '— ';
		}
	}
}
// blockquote {
// 	&:before {
// 		content: open-quote;
// 	    font-size: 64px;
// 	    position: absolute;
// 	    transform: translate(-40px, -30px);
// 	}

// 	&:after {
// 		content: close-quote;
// 	    font-size: 64px;
// 	    position: absolute;
// 	    transform: translate(-40px, -30px);
// 	}

// 	& *:first-child {
// 	  display: inline-block;
// 	}

// 	& > sub {
// 		margin-top: 5px;
// 		float: left;
// 		&:before {
// 			content: '— ';
// 		}
// 	}
// }
// blockquote {
//   background: #f9f9f9;
//   border-left: 10px solid #ccc;
//   margin: 1.5em 10px;
//   padding: 0.5em 10px;
//   quotes: "\201C""\201D""\2018""\2019";
// }
// blockquote



// blockquote {
// 	quotes: "\201C""\201D""\2018""\2019";
// 	&:before {
// 		content: open-quote;
// 		font-size: 4em;
// 		line-height: 0.1em;
// 		margin-right: 0.25em;
// 		vertical-align: -0.4em;
// 	}
// 	q {
// 		quotes: none;
// 		display: inline;
// 	}

	// & > sub {
	// 	margin-top: 5px;
	// 	float: left;
	// 	&:before {
	// 		content: '— ';
	// 	}
	// }
// }


// .img-responsive {
//     background: url(yourUrl);
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-position: center; 
// }